.filterWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.filter {
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(197, 197, 197);
  padding: 20px;
  background-color: #fff;
  width: 400px;
}

.enter {
  opacity: 0;
  transform: scale(0.1);
}

.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms linear;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: all 1000ms linear;
}
