.navigation {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.linkActive {
  color: red;
}
